<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <div class="container">
        <h1 class="banner">Вход</h1>
        <div class="editor">
            <label for="fname">E-mail
                <input id="fname" type="text" />
            </label>
            <br />
            <label for="lname">Password
                <input id="lname" type="text" />
            </label>
            <br />
            <button id="create">login</button>
            <button id="update">forgot password?</button>
        </div>
    </div>
</body>
</html>